@model IEnumerable<gStringKustomGuitars.Web.Models.CategoryModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>gStringKustomGuitars.com</h1>
<h4>| eStore Managment Portal |  Categories</h4>
<br/>
<p>
    <a asp-action="Index" asp-controller="Home" class="btn btn-danger">Back</a>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table id="tblCategory" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isactive)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isactive)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a>
            </td>
        </tr>
}
    </tbody>
</table>

